/* orange #F15025*/

/* black #353531*/

/* navy blue #2D3142*/

/* grey #CED0CE*/

/* smoke white*/

/*General Rules*/
html,
body {
    height: 100%;
}

body {
    font-family: 'Macondo', 'cursive';
    font-size: 100%;
    line-height: 1.5em;
}

/* header*/

.header h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 5px;
}

.header-underline {
    width: 150px;
    border: 3px solid #F15025;
    margin: 0 auto 20px auto;
}

.header p {
    font: 16px;
    padding: 0 30px;
}

/* Font awesome underline*/

.font-awesome-underline{
    width: 150px;
    border: 3px solid #F15025;
    margin: 20px auto 30px auto;
}

.font-awesome-underline:after {
    content: "\f133";
    font-family: "FontAwesome";
    font-size: 40px;
    color: #F15025;
    position: relative;
    top: -10px;
    background: white;
    padding: 0 10px;
}

/*banner secction*/

#banner {
    height: 100%;
    /*background: File("C:\personal\facultad\extensionUniversitaria\curso-java\workSpaceWeb_2017\BolsaDeTrabajoWeb\WebContent\bootstrap\images\main\jeri_lynn_ryan_011.jpg") fixed;*/
   background: url("/SIFAA/fotos/slider_12.jpg") fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/*align vertical center*/

#banner-content {
    height: 100%;
    width: 100%;
    display: table;
}

#banner-box {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/*text and link*/

#banner-box h1 {
    margin: 0!important;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    color: whitesmoke;
}

#banner-underline {
    width: 300px;
    border: 3px solid #F15025;
    margin: 0 auto;
}

#banner-box a {
    font-size: 30px;
    border: 2px solid whitesmoke;
    display: inline-block;
    padding: 15px 20px !important;
    margin-top: 20px;
    color: whitesmoke;
    text-decoration: none;
}

#banner-box a:hover,
#banner-box a:focus {
    color: #F15025;
    background-color: whitesmoke;
}

/*Link Down the Page*/

#banner-icon a {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
}

#banner-icon a:hover {
    opacity: 0.6;
    color: black;
    border-color: black;
}


/* services section*/

#services {
    background-color: #CED0CE;
    padding: 40px 40px;
}

#services input{
    border: 2px solid gray;
    
    font: #F15025;
    
    font-size: 40px;
    
    margin: 20px;
}

#services a{
    border: 2px solid gray;
    
    font: #F15025;
    
    font-size: 40px;
    
    margin: 20px;
}
.services-container .fa {
    font-size: 100px;
    color: #F15025;
}

#services h2 {
    margin: 12px auto 20px auto;
}

.services-container p {
    font-size: 16px;
    line-height: 1.5em;
}

.services-container {
    padding: 20px 40px;

}

/*end of services section*/


/* pricing section*/

#pricing{
    padding: 40px;
    background-color: #CED0CE;
}

